<h1>Logout</h1>
    <article>
        <p>{{username}} have logged out</p>
        <p><a href="http://localhost:3000/login">Click here to log in</a></p>
    </article>
    {{#if error}}
        <p>{{error}}!</p>
    {{/if}}

